@font-face {
    font-family: 'Zelda font';
    src: url(../font/special/Zelda.otf);
}

@font-face {
    font-family: 'CalibriRegular';
    src: url(../font/calibri_font/CalibriRegular.ttf);
}

@font-face {
    font-family: 'Wii Shop font';
    src: url(../font/Avenir_LT_55_Roman_Regular/Avenir_LT_55_Roman_Regular.ttf);
}

