html, body {
    height: 100%;
    margin: 0; padding: 0;
}

body{
    display : table;
    width: 100%;
    font-family: 'CalibriRegular';
    margin: 0;/*supprime les espace entre les bord de l'ecrant et le reste. De base il est a 8*/
    background-image: url(../img/jpg/pexels-marc-mueller-380769.jpg);
    background-size:cover;
    background-attachment: fixed;
    /*backdrop-filter: blur(5px);ajoute un effet de flout a la baliser ciblé*/
}

footer {
    display : table-row;
    height: 100px; /* à titre d'exemple */
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

.CorpDePage{
    background-color: white;
    filter: opacity(95%);/*ajoute un effet de transparense*/
    border-radius: 25px;/*arrondi les angle, attention a ne pas utiliser %*/
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100px;
    z-index: 0;
}

.BanniereHaut{
    background-color: rgb(117, 0, 0);
}

.PpType1{
    width: 50%;
    border-radius: 100%;
    float:none;
    
}

.BanniereBas{
    background-color: rgb(117, 0, 0);
    height: 10%;
    width: 100%;
}

.OptionBH{/*Parametre de rendu des <td>*/
    background-color: rgb(117, 0, 0);
    border: 2px solid white;
    color: white;
    font-size: large;
    text-align: center;
    width: 10%;
    height: 50px;
    margin-top: 25px;
}

/*hover:quand la souris passe sur l'element ciblé, les parementre défini son affecter un direct*/
.OptionBH:hover{
    background-color: rgb(146, 51, 51);
}

.OptTxtBH{/*Fais principalement en sort de center le texte dans la <div>*/
    height: 100%;
    width: 100%;
    color: white;
    font-size: large;
    position: relative;
    top: 25%;
    
}

.OptTxtBH:hover{
    font-weight: bolder;
}

.ContactIcon{
    height: 15%;
    width: 15%;
}

.ContactIcon[name="CV"]{
    height: 10%;
    width: 10%;
}

.AlignElement{
    text-align: center;
}

.TdIcon{
    width: 33%;
}

.IconeFlecheBas{
    position: absolute;
    display: inline-block;
    height: 22.4px;
    right: 0;
}

/*
Pour effectuer une transition méga stylé il faut utiliser transition et :hover.
Voir pour exemple les deux class si dessous.
*/
.LigneProjet {
    background-color: #dfdede;
    color: black;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    overflow: hidden;
    transition: max-height 2s, background-color 0.5s, transform 2s;/*Parametre l'animation*/
    max-height: 63px;/*hauteur initial*/
}

.LigneProjet:hover{
    background-color: #bdbdbd;
    max-height: 1000px;/*Hauteur max possible*/
}

.LgnProjTitre{
    border-bottom: black solid 2px;
    position: relative;
}

.TdFormulaire{
    width: 50%;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

.TdFormulaire[name="left"]{
    border-right: rgb(37, 37, 37) solid 1px;
}

.InputFormulaire{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #dfdede;
    transition: border-color 0.5s;
    border: #dfdede solid 2px;
}

.InputFormulaire:hover{
    border-color: black;
}

#submitFormulaire{
    text-align: right;
}

#resetFormulaire{
    text-align: left;
}

#textareaForm{
    resize: vertical;
    overflow: auto;
    min-height: 450px;
}

#bandeOpt{/*paramentre complementaire*/
    position: sticky;
    top: 0px;/*sticky est pris en compte a partir de 0px*/
    z-index: 10;/*défini l'élément a 10 crant au dessus du reste*/
}

#bouttonBH{/*Centre la table*/
    margin-left: auto;
    margin-right: auto;
}

#titreAccueil{
    color: white;
    padding: 3%;
    margin: 0;
    text-align: center;
}

#ppOpposé{
    float: right;
    visibility: hidden;
}

#enTeteBH{/*Centre les element*/
    display: flex;
    align-items: center;/*Verticalement*/
    justify-content: center;/*Horizontalement*/
}

/*
Site utile vue

https://www.alsacreations.com/astuce/lire/22-Comment-fixer-un-pied-au-bas-de-la-page-.html
*/