body{
    font-family: 'CalibriRegular';
    margin: 0;
    background-image: url(../img/jpg/pexels-marc-mueller-380769.jpg);
    background-size:cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

.CorpDePage{
    background-color: white;
    filter: opacity(95%);
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 0;
}

.BanniereHaut{
    background-color: rgb(117, 0, 0);
}

.PpType1{
    width: 50%;
    border-radius: 100%;
    float:none;
}

.BanniereBas{
    background-color: rgb(117, 0, 0);
    height: 10%;
    width: 100%;
}

/*
.OptionBH{
    border: 1px solid black;
    display: table-cell;
    background-color: rgb(174, 60, 60);
    color: white;
    font-size: large;
    width: 20%;
    height: inherit;
    vertical-align: middle;
    text-align: center;
}

#bouttonBH{
    justify-content: center;
    background-color: red;
    height: 50px;
}
*/

.OptionBH{
    background-color: rgb(117, 0, 0);
    border: 2px solid white;
    color: white;
    font-size: large;
    text-align: center;
    width: 10%;
    height: 50px;
    margin-top: 25px;
}

.OptionBH:hover{
    background-color: rgb(146, 51, 51);
}

.OptTxtBH{
    height: 100%;
    width: 100%;
    color: white;
    font-size: large;
    position: relative;
    top: 25%;
    
}

.OptTxtBH:hover{
    font-weight: bolder;
}

#bandeOpt{
    position: sticky;
    top: 0px;
    z-index: 10;
}

#bouttonBH{
    margin-left: auto;
    margin-right: auto;
}

#titreAccueil{
    color: white;
    padding: 3%;
    margin: 0;
    text-align: center;
}

#ppOpposé{
    float: right;
    visibility: hidden;
}

#enTeteBH{
    display: flex;
    align-items: center;
    justify-content: center;
}

